<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>visualisingDataStructures.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6E8435823DF4EF300F76154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E8436E23DF4EF400F76154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E8437923DF4EF400F76154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
